/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
  background-color: var(--colour-background-now-playing);
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 5px;
  width: 100%;

  &__cover,
  &__details {
    padding: var(--spacing-m);
    text-align: center;
    width: 100%;
  }

  &__cover {
    max-width: 400px;
  }

  &__context-name {
    padding: var(--spacing-m);
  }

  &__image {
    box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.8);
    height: auto;
    max-width: 30vw;
    width: 100%;
  }

  &__details {
    text-align: center;
    // padding: 4px;
  }

  &__track {
    font-weight: var(--font-weight-heading);
  }

  &__artists {
    opacity: 0.8;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width: 767px) {
    flex-flow: row nowrap;
    padding: 10%;

    // &__cover,
    // &__details {
    //   width: 50%;
    //   max-width: 495px;
    // }

    &__details {
      text-align: left;
    }
  }
}
